{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Imagem</title>

    <!-- CSS padrão -->
    <link rel="stylesheet" href="{% static 'CSS/style_adicionar_imagem_carrossel.css' %}">
</head>

<body>

    <!-- HEADER -->
    <header class="topo">

        <!-- Botão voltar -->
        <button class="btn-voltar" onclick="window.location.href='{% url 'editar_carrossel' %}'">←</button>

        <!-- Título -->
        <h1>Adicionar Imagem</h1>

        <!-- Logo -->
        <img src="{% static 'media/logo.png' %}" class="logo" alt="Logo">

    </header>

    <!-- CONTEÚDO -->
    <main>
        <div class="card-container">

            <form method="POST" enctype="multipart/form-data" class="form-editar">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn verde">Salvar</button>
            </form>


        </div>
    </main>

    <!-- RODAPÉ -->
    <footer class="rodape">
        Cantina Inteligente
    </footer>

</body>
</html>
