/* TOPO */
.topo {
    background-color: #4db6ac;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* BOTÃO DE VOLTAR SEM A BARRA */
.btn-voltar {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);

    background-color: #3f51b5;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;

    padding: 6px 15px;
    border: none;
    border-radius: 10px;

    text-decoration: none;   /* remove underline */
    line-height: 1;          /* impede barra branca */
    display: inline-flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

/* LOGO TOPO */
.logo-topo {
    position: absolute;
    right: 15px;
    height: 45px;
}

/* CONTEÚDO */
.conteudo {
    padding: 20px;
    padding-bottom: 100px; /* espaço para o rodapé fixo */
}

.card-venda {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    border: 2px solid #2196f3;
}

.nenhum {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}

/* RODAPÉ FIXO */
.rodape {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-weight: bold;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
