/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #90CAF9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.logo-topo {
  width: 45px;
  height: 45px;
  object-fit: contain;
  position: absolute;
  right: 15px;
}

/* TOPO */
.topo {
  background-color: #4db6ac;
  display: flex;
  align-items: center;
  justify-content: space-between; /* IMPede quebra de linha */
  padding: 10px 15px;
  color: black;
}

.btn-voltar {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  background: white;
  padding: 4px 12px;
  border-radius: 8px;
  color: black;
  flex-shrink: 0;
}

.topo h1 {
  font-size: 1.6rem;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}

.icone {
  width: 42px;
  height: 42px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/8916/8916768.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

/* CONTEÚDO */
.conteudo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap;
}

.esquerda {
  max-width: 450px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 16px;
  padding: 30px;
  display: flex;
  align-items: center;
}

.mensagem p {
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

/* CARD DE LOGIN */
.direita {
  max-width: 450px;
  width: 100%;
}

.card {
  background-color: #2196f3;
  padding: 30px;
  border-radius: 16px;
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card label {
  font-weight: 600;
  font-size: 0.9rem;
  color: #6b4d4d;
}

.card input {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  outline: none;
}

.card input::placeholder {
  color: #999;
}

/* BOTÃO */
.card button {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.card button:hover {
  background-color: #333;
}

/* RODAPÉ */
.rodape {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 15px 10px;
  font-weight: bold;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .conteudo {
    flex-direction: column;
    padding: 15px;
  }

  .topo h1 {
    font-size: 1.25rem;
  }

  .btn-voltar {
    font-size: 1.5rem;
    padding: 5px 10px;
  }

  .icone {
    width: 35px;
    height: 35px;
  }
}
